global
    log 127.0.0.1 local0
    maxconn 256
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

# --- Задание 1: Round-robin на 4 уровне (TCP) ---
listen web_tcp
    bind 127.0.0.1:1325
    mode tcp
    balance roundrobin
    option tcplog
    server s1 127.0.0.1:8888 check inter 3s
    server s2 127.0.0.1:9999 check inter 3s

# --- Задание 2: Weighted Round Robin на 7 уровне ---
frontend example_local
    bind 127.0.0.1:8088
    mode http
    acl ACL_example_local hdr(host) -i example.local
    use_backend web_servers if ACL_example_local
    default_backend deny_other

backend web_servers
    mode http
    balance roundrobin
    option httpchk GET /index.html
    server s1 127.0.0.1:8081 weight 2 check inter 3s
    server s2 127.0.0.1:8082 weight 3 check inter 3s
    server s3 127.0.0.1:8083 weight 4 check inter 3s

backend deny_other
    mode http
    http-request deny deny_status 403

# Статистика HAProxy
listen stats
    bind 127.0.0.1:19888
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats realm Haproxy\ Statistics
